.wishlist-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.wishlist-search {
    margin-left: auto;
    max-width: 600px;
    width: 100%;
}

.wishlist-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 210px);
    gap: 14px;
    justify-content: center;
}

.wishlist-item-card {
    display: flex;
    flex-direction: column;

    align-items: center;
    vertical-align: center;

    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-sizing: border-box;

    width: 210px;
    height: auto;

    transition: all 0.3s ease;
}

.wishlist-item-card img {
    object-fit: contain;
    width: 180px;
}

.wishlist-item-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wishlist-item-header h2 {
    text-align: center;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
}

.wishlist-item-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.wishlist-item-header {
    align-items: center;

    margin: 10px 25px;
}

.wishlist-item-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

.wishlist-item-meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.remove-button {
    padding: 0px 15px;
    background-color: #ff4d4f;
    font-size: 35px;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    margin: 0 10px;
}