.modal-signup-button {
  margin-top: 1rem;
  background-color: rgb(231, 155, 219);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  font-weight: 500;
  transition: box-shadow 0.2s ease, transform 0.1s ease;
}

.modal-signup-button:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.modal-signup-button:active {
    transform: scale(0.95);
}

.modal-login {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
}

.modal-login-prompt {
  font-size: 0.9rem;
  font-weight: normal;
  cursor: default;
}

.modal-login-link {
  font-size: 0.9rem;
  color: blue;
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
}

.modal-login-link:active {
    transform: scale(0.99);
}