.searchbar-center {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
}

.searchbar-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.searchbar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.searchbar-input {
  width: 100%;
  padding: 6px 36px 6px 12px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #333131;
}

.searchbar-button {
  position: absolute;
  right: 6px;
  top: 9px;
  background: none;
  border: none;
  cursor: pointer;
  color: #777;
  font-size: 0.9rem;
}

.searchbar-button:hover {
  color: #444;
}
