h2 {
    cursor: default;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  overscroll-behavior: contain;
}

.modal {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 320px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal input {
  padding: 8px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.modal-login-button {
  background-color: rgb(231, 155, 219);
  color: white;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.modal-login-button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.modal-login-button:active {
    transform: scale(0.98);
}

.modal-forgot-password-link {
  font-size: 0.9rem;
  text-align: center;
  color: blue;
}

.modal-forgot-password-link:active {
    transform: scale(0.99);
    opacity: 0.7;
}

.modal-signup {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
}

.modal-signup-prompt {
  font-size: 0.9rem;
  font-weight: normal;
  cursor: default;
}

.modal-signup-link {
  font-size: 0.9rem;
  color: blue;
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
}

.modal-signup-link:active {
    transform: scale(0.98);
    opacity: 0.7;
}

.modal-close {
  color: dimgrey;

  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.modal-close:hover {
  color: black;
}

.modal-close:active {
    transform: scale(0.99);
}