h2 {
    cursor: default;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  overscroll-behavior: contain;
}

.modal {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 320px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
}

.modal input:focus {
  outline: none;
  border-color: rgb(231, 155, 219);
  box-shadow: 0 0 0 2px rgba(231, 155, 219, 0.3);
}

.modal-login-button {
  margin-top: 1rem;
  background-color: rgb(231, 155, 219);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  font-weight: 500;
  transition: box-shadow 0.2s ease, transform 0.1s ease;
}

.modal-login-button:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.modal-login-button:active {
  transform: scale(0.97);
}


.modal-forgot-password-link {
  font-size: 0.9rem;
  text-align: center;
  color: blue;
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
}

.modal-forgot-password-link:active {
    transform: scale(0.99);
}

.modal-signup {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
}

.modal-signup-prompt {
  font-size: 0.9rem;
  font-weight: normal;
  cursor: default;
}

.modal-signup-link {
  font-size: 0.9rem;
  color: blue;
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
}

.modal-signup-link:active {
    transform: scale(0.99);
}

.modal-close {
  color: dimgrey;

  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.modal-close:hover {
  color: black;
}

.modal-close:active {
    transform: scale(0.99);
}

.password-box {
  position: relative;
}

.toggle-password-button {
  position: absolute;
  top: 30px;
  right: 8px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #888;
  font-size: 1.1rem;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease;
}

.toggle-password-button:hover {
  color: rgb(231, 155, 219);
}

.toggle-password-button:active {
  transform: translateY(-50%) scale(0.95);
}